# ===================================================================
# Python
# ===================================================================

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
build/
dist/
downloads/
eggs/
*.egg-info/
sdist/
wheels/
*.egg
MANIFEST

# PyInstaller
# Usually these files are created by pyinstaller, if you are using it.
*.spec


# ===================================================================
# 仮想環境 (uv, venv, virtualenv)
# ===================================================================
.venv/


# ===================================================================
# 環境変数ファイル (dotenv)
# ===================================================================
.env
